*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    width: 100%;
    height: 850px;
    background-image: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)100%), url('../static/Images/gallery_images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%;
    height: 15vh;
    background: rgba(0,0,0,0.5);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo{
    width: 25%;
    text-align: center;
}

nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav .menu a{
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav .menu a:first-child{
    color: red;
}

main{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

main section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
}

main section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

main section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

#red{
    color: red;
}
#green{
    color: green;
}
#white{
    color: rgba(255, 255, 255, 0.937);
}
#black{
    color: black;
}

main section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}

main section .btnone{
    background: white;
    color: black;
}

.btnone:hover{
    background: red;
    color: white;
}

main section .btntwo{
    background: black;
    color: white;
}

.btntwo:hover{
    background: green;
    color: white;
}

.change_content:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: red;
}

@keyframes  changetext{
    0%{content: "DUBAI" ;}
    20%{content: "ABU DHABI" ;}
    40%{content: "SHARJAH" ;}
    55%{content: "AJMAN" ;}
    70%{content: "UMM AL QUWAIN" ;}
    85%{content: "RAS AL KHAIMAH" ;}
    100%{content: "FUJAIRAH" ;}
}

