<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='aboutus.css') }}">
    <link rel="icon" href="../static/Images/travel-icon.png" type="image/png">
</head>
<body>
    <div class="head">
        <h1>ABOUT US</h1>
    </div>
    <section class="s1">
        <div class="container">
            <div class="box">
                <img src="../static/Images/aboutus_images/target-goals-icon.png" alt="">
                <h3>Mission</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi cum at vel nam quibusdam similique, unde eius sequi corporis quidem ex consectetur obcaecati molestiae perferendis consequuntur nulla ipsa assumenda illo?</p>
            </div>
            <div class="box">
                <img src="../static/Images/aboutus_images/insight-icon.png" alt="">
                <h3>Vision</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi cum at vel nam quibusdam similique, unde eius sequi corporis quidem ex consectetur obcaecati molestiae perferendis consequuntur nulla ipsa assumenda illo?</p>
            </div>
            <div class="box">
                <img src="../static/Images/aboutus_images/stars-color-icon.png" alt="">
                <h3>Achievements</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi cum at vel nam quibusdam similique, unde eius sequi corporis quidem ex consectetur obcaecati molestiae perferendis consequuntur nulla ipsa assumenda illo?</p>
            </div>
        </div>
    </section>

    <section class="s2">
        <h1 class="team"><span class="o">O</span>UR <span class="t">T</span>EAM</h1>
        <div class="container-2">
            <div class="card">
                <div class="card-img">
                    <img src="../static/Images/aboutus_images/Rayaan.jpeg" alt="">
                </div>
                <div class="card-body">
                    <h2>Rayaan Quraishi</h2>
                    <span>Web Developer</span>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../static/Images/aboutus_images/Zahid.jpeg" alt="">
                </div>
                <div class="card-body">
                    <h2>Zahid Rizvi</h2>
                    <span>Web Developer</span>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../static/Images/aboutus_images/Paras.jpeg" alt="">
                </div>
                <div class="card-body">
                    <h2>Paras Roy</h2>
                    <span>Web Developer</span>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../static/Images/aboutus_images/Aditya.jpeg" alt="">
                </div>
                <div class="card-body">
                    <h2>Aditya Salian</h2>
                    <span>Web Developer</span>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="../static/Images/aboutus_images/Atharva.jpeg" alt="">
                </div>
                <div class="card-body">
                    <h2>Atharva Sancheti</h2>
                    <span>Web Developer</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>








<!-- <section id="about">
    <div class="about-1">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident tempora sit reprehenderit quaerat quam. Repudiandae est quaerat repellat minima asperiores delectus, excepturi error ducimus reiciendis sit, ex inventore. Adipisci, iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio laudantium numquam adipisci illo maxime autem hic ipsa consequatur corporis tenetur!</p>
    </div>
    <div class="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-book"></i>
                            <h3>MISSION</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, cumque?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus corporis minima repellat odit explicabo, magnam similique voluptatibus temporibus ipsum facilis.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-globe"></i>
                            <h3>VISION</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, cumque?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus corporis minima repellat odit explicabo, magnam similique voluptatibus temporibus ipsum facilis.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fa fa-pencil"></i>
                            <h3>ACHIEVEMENTS</h3>
                            <hr>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, cumque?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus corporis minima repellat odit explicabo, magnam similique voluptatibus temporibus ipsum facilis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->