<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us Form</title>
    <link rel="stylesheet" href="../static/contact.css">
    <link rel="icon" href="../static/Images/travel-icon.png" type="image/png">
</head>
<body>
    <div class="head">
        <h1>CONTACT US</h1>
    </div>
    <div class="container">
        <p>Do you require additional information? Fill out the form below with your question or feedback, and we will respond as soon as possible. Alternatively, you can call, email, or visit our office.</p>
        <div class="contact-box">
            <div class="contact-left">
                <h3>Send your request</h3>
                <form>
                    <div class="input-row">
                        <div class="input-group">
                            <label>First Name</label>
                            <input type="text" placeholder="Tom">
                        </div>
                        <div class="input-group">
                            <label>Last Name</label>
                            <input type="text" placeholder="Holland">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label>Email</label>
                            <input type="email" placeholder="tomholland@gmail.com">
                        </div>
                        <div class="input-group">
                            <label>Phone</label>
                            <input type="text" placeholder="9833465319">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label>Residence</label>
                            <input type="text" placeholder="India">
                        </div>
                        <div class="input-group">
                            <label>Reason</label>
                                <input type="text" list="browsers" name="browser" id="browser" placeholder="I would like to:">
                                <datalist id="browsers">
                                    <option value="Make an enquiry" >Make an enquiry</option>
                                    <option value="Give feedback and suggestions">Give feedback and suggestions</option>
                                    <option value="Request for business and meeting information">Request for business and meeting information</option>
                                    <option value="Give compliments">Give compliments</option>
                                    <option value="Submit a complaint">Submit a complaint</option>
                                </datalist>
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea rows="5" placeholder="Your Message"></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="contact-right">
                <h3>Reach Us</h3>

                <table>
                    <tr>
                        <td>Email</td>
                        <td>contactus@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>+91 9833465319</td>
                    </tr>
                    <tr>
                        <td>Adress</td>
                        <td>Shop 21, Ground floor, Jankalyan Nagar<br>Malad West, Mumbai-400095</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>