<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deals & Packages</title>
    <link rel="icon" href="../static/Images/travel-icon.png" type="image/png">
    <link rel="stylesheet" href="../static/deals.css">
</head>
<body>
    <div class="head">
        <h1>PACKAGES & DEALS</h1>
    </div>
    <div class="container">
        <div class="grid">
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="../static/Images/gallery_images/dubai1.jpg" alt="Dubai">
                    <div class="card-content">
                        <h1 class="card-header">Dubai</h1>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus beatae iure temporibus voluptatem rem adipisci ipsum. Praesentium maxime provident culpa veniam dolorum minima vero. Impedit totam sequi non atque iusto.
                        </p>
                        <button class="card-btn"><a href="booknow.html" target="_blank">Book Now</a></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="../static/Images/gallery_images/abudhabi1.jpg" alt="Abu Dhabi">
                    <div class="card-content">
                        <h1 class="card-header">Abu Dhabi</h1>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus beatae iure temporibus voluptatem rem adipisci ipsum. Praesentium maxime provident culpa veniam dolorum minima vero. Impedit totam sequi non atque iusto.
                        </p>
                        <button class="card-btn"><a href="booknow.html" target="_blank">Book Now</a></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="../static/Images/gallery_images/sharjah1.jpg" alt="Sharjah">
                    <div class="card-content">
                        <h1 class="card-header">Sharjah</h1>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus beatae iure temporibus voluptatem rem adipisci ipsum. Praesentium maxime provident culpa veniam dolorum minima vero. Impedit totam sequi non atque iusto.
                        </p>
                        <button class="card-btn"><a href="booknow.html" target="_blank">Book Now</a></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="../static/Images/gallery_images/ajman1.jpg" alt="Ajman">
                    <div class="card-content">
                        <h1 class="card-header">Ajman</h1>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus beatae iure temporibus voluptatem rem adipisci ipsum. Praesentium maxime provident culpa veniam dolorum minima vero. Impedit totam sequi non atque iusto.
                        </p>
                        <button class="card-btn"><a href="booknow.html" target="_blank">Book Now</a></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="../static/Images/gallery_images/ummalquwain1.jpg" alt="UMM AL QUWAIN">
                    <div class="card-content">
                        <h1 class="card-header">Umm Al Quwain</h1>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus beatae iure temporibus voluptatem rem adipisci ipsum. Praesentium maxime provident culpa veniam dolorum minima vero. Impedit totam sequi non atque iusto.
                        </p>
                        <button class="card-btn"><a href="booknow.html" target="_blank">Book Now</a></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="../static/Images/gallery_images/rasalkhaimah1.jpg" alt="RAS AL KHAIMAH">
                    <div class="card-content">
                        <h1 class="card-header">Ras Al Khaimah</h1>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus beatae iure temporibus voluptatem rem adipisci ipsum. Praesentium maxime provident culpa veniam dolorum minima vero. Impedit totam sequi non atque iusto.
                        </p>
                        <button class="card-btn"><a href="booknow.html" target="_blank">Book Now</a></button>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="card">
                    <img class="card-img" src="../static/Images/gallery_images/fujairah1.jpg" alt="FUJAIRAH">
                    <div class="card-content">
                        <h1 class="card-header">Fujairah</h1>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus beatae iure temporibus voluptatem rem adipisci ipsum. Praesentium maxime provident culpa veniam dolorum minima vero. Impedit totam sequi non atque iusto.
                        </p>
                        <button class="card-btn"><a href="booknow.html" target="_blank">Book Now</a></button>
                    </div>
                </div>
            </div>
    </div>
    </div>
</body>
</html>