<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="icon" href="../static/Images/travel-icon.png" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static',filename='gallery.css') }}">
</head>
<body>
    <input type="radio" name="Photos" id="check1" checked >
    <input type="radio" name="Photos" id="check2" >
    <input type="radio" name="Photos" id="check3" >
    <input type="radio" name="Photos" id="check4" >
    <input type="radio" name="Photos" id="check5" >
    <input type="radio" name="Photos" id="check6" >
    <input type="radio" name="Photos" id="check7" >
    <input type="radio" name="Photos" id="check8" >

    <div class="container">
        <h1>UAE PHOTO GALLERY</h1>
        <div class="top-content">
            <h3>PHOTOS</h3>
            <label for="check1">All Photos</label>
            <label for="check2">Dubai</label>
            <label for="check3">Abu Dhabi</label>
            <label for="check4">Sharjah</label>
            <label for="check5">Ajman</label>
            <label for="check6">Umm Al Quwain</label>
            <label for="check7">Ras Al Khaimah</label>
            <label for="check8">Fujairah</label>
        </div>

        <div class="photo-gallery">
            <div class="pic dubai">
                <img src="../static/Images/gallery_images/dubai1.jpg">
            </div>
            <div class="pic abudhabi">
                <img src="../static/Images/gallery_images/abudhabi1.jpg">
            </div>
            <div class="pic sharjah">
                <img src="../static/Images/gallery_images/sharjah1.jpg">
            </div>
            <div class="pic ajman">
                <img src="../static/Images/gallery_images/ajman1.jpg">
            </div>
            <div class="pic ummalquwain">
                <img src="../static/Images/gallery_images/ummalquwain1.jpg">
            </div>
            <div class="pic rasalkhaimah">
                <img src="../static/Images/gallery_images/rasalkhaimah1.jpg">
            </div>
            <div class="pic fujairah">
                <img src="../static/Images/gallery_images/fujairah1.jpg">
            </div>
            <div class="pic dubai">
                <img src="../static/Images/gallery_images/dubai2.jpg">
            </div>
            <div class="pic abudhabi">
                <img src="../static/Images/gallery_images/abudhabi2.jpg">
            </div>
            <div class="pic sharjah">
                <img src="../static/Images/gallery_images/sharjah2.jpg">
            </div>
            <div class="pic ajman">
                <img src="../static/Images/gallery_images/ajman2.jpg">
            </div>
            <div class="pic ummalquwain">
                <img src="../static/Images/gallery_images/ummalquwain2.jpg">
            </div>
            <div class="pic rasalkhaimah">
                <img src="../static/Images/gallery_images/rasalkhaimah2.jpg">
            </div>
            <div class="pic fujairah">
                <img src="../static/Images/gallery_images/fujairah2.jpg">
            </div>
            <div class="pic dubai">
                <img src="../static/Images/gallery_images/dubai3.jpg">
            </div>
            <div class="pic abudhabi">
                <img src="../static/Images/gallery_images/abudhabi3.jpg">
            </div>
            <div class="pic sharjah">
                <img src="../static/Images/gallery_images/sharjah3.jpg">
            </div>
            <div class="pic ajman">
                <img src="../static/Images/gallery_images/ajman3.jpg">
            </div>
            <div class="pic ummalquwain">
                <img src="../static/Images/gallery_images/ummalquwain3.jpg">
            </div>
            <div class="pic rasalkhaimah">
                <img src="../static/Images/gallery_images/rasalkhaimah3.jpg">
            </div>
            <div class="pic fujairah">
                <img src="../static/Images/gallery_images/fujairah3.jpg">
            </div>
            <div class="pic dubai">
                <img src="../static/Images/gallery_images/dubai4.jpeg">
        </div>
    </div>
</body>
</html>